.container-layout-shifter {
	padding: 1em;

	display: flex;
	flex-wrap: wrap;
	gap: 1em;


	&> :first-child {
		flex: 1 1 300px;
		min-width: 250px;

		@media screen and (min-width: 650px) {
			max-width: 350px;
		}
	}

	&> :nth-child(2) {
		flex: 1 1 300px;
	}
}

.container-layout-shifter-one {

	display: flex;
	flex-wrap: wrap;
	gap: 1em;


	&> :first-child {
		flex: 1 1 300px;
		min-width: 250px;
	}

	&> :nth-child(2) {
		flex: 1 1 300px;
	}
}

.container-layout-grid-four {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1em;
}

.container-layout-grid-four-projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1em;

	@media screen and (min-width: 400px) {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	}
}

.container-layout-grid-skills {

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1em;

	@media screen and (min-width: 400px) {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	}
}

.container-layout-grid-skills-small {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	gap: 1em;
}


.container-box {
	@apply shadow rounded p-4 bg-neutral-800 text-primary;
}

.container-layout-small-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 1em;
}

.btn-shadow {
	@apply px-4 py-2 border-[1px] rounded font-sans font-semibold text-sm text-white bg-transparent border-neutral-500 transition-shadow;

	cursor: pointer;

	@media screen and (max-width: 350px) {
		font-size: .7rem;
	}



	&:hover {
		@apply border-cyan-600 shadow-[0_0_10px_#22d3ee];
	}

	&--active {
		@apply bg-cyan-600 border-cyan-600 shadow-[0_0_10px_#22d3ee];
	}

	&--email {
		@apply bg-cyan-600 border-cyan-600;
	}
}