.container-layout-shifter {
	padding: 1em;

	display: flex;
	flex-wrap: wrap;
	gap: 1em;


	&> :first-child {
		flex: 1 1 300px;
		min-width: 250px;

		@media screen and (min-width: 650px) {
			max-width: 350px;
		}
	}

	&> :nth-child(2) {
		flex: 1 1 300px;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 1em;

		/* with flex
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			gap: 1em;
			&>* {
				flex: 1 1 300px;
				max-width: 600px;
			}
		*/
	}
}

.container-layout-grid-four {
	padding: 1em;

	display: grid;
	grid-template-columns: repeat(4, minmax(300px, 1fr));
}


.container-box {
	@apply shadow rounded p-4 bg-neutral-800 text-primary;
}