@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--primary: #e7eaf6;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	@apply bg-neutral-900;
}

.container-box {
	@apply shadow rounded p-4 bg-neutral-800;
}

.container-ratio-1-1 {
	position: relative;
	height: 0;
	padding-bottom: 100%;
}


.container-ratio-2-3 {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 150%;
}


.container-ratio-2-3 {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 200%;
}

.container-ratio-4-3 {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 75%;
}

.container-ratio-16-9 {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}



.child-ratio {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.primary-bg {
	background-color: #e7eaf6;
}

.primary-bg-dark {
	background-color: #113f67;
}



.primary-text-light {
	color: #a2a8d3;
}

.primary-text {
	color: #38598b;
}

.primary-text-dark {
	color: #113f67;
}

.section-hero {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('src/images/section-hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.my-title {
	position: relative;
	padding-bottom: .5em;
}

.my-title::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom: 3px solid #a2a8d3;
	border-radius: 3px;
}